<DemoBox @style='{{this.tl}}px {{this.tr}}px {{this.br}}px {{this.bl}}px' />
<div class='input-container'>
  <InputBox @label='top left' @value={{this.tl}} />
  <InputBox @label='top right' @value={{this.tr}} />
  <InputBox @label='bottom left' @value={{this.bl}} />
  <InputBox @label='bottom right' @value={{this.br}} />
</div>